body, html{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  background-color: #101010;
  font-size: 20pt;
  text-align: center;
  }

h2{
  padding-top: 20px;
  text-align: center;
}

img{
  height: 30vh;
}

.contentbox{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.grid-container-3 {
  margin-left: 5vw;
  margin-right: 7vw;
  margin-top: 5vh;
  margin-bottom: 1vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vw;
}

.grid-container-1 {
  margin-left: 5vw;
  margin-right: 7vw;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: auto auto;
}

.grid-cell-3 {
  border: 1px solid black;
  text-align: center;
  background-color:#303030;
  font-size: 30px;
  width: 25vw;
}

.grid-cell-1 {
  border: 1px solid black;
  text-align: center;
  background-color:#303030;
  font-size: 30px;
  width: 77.5vw;
}

p, h3 {
  margin-left: 20px;
  margin-right: 20px;
}

@media only screen and (max-width: 1200px) {
  .grid-container-3 {
    grid-template-columns: auto;
  }
  .grid-cell-3 {
    width: 77.5vw;
  }
}