<!DOCTYPE html>
<html>
    <body>
        <img class="bannerimage" src="assets/images/home_banner.png">
        <h2>Over The Beartender</h2>
        <p>
        We brengen de beleving van een cocktailbar naar je thuis!
        Door onze combinatie van originele recepten en nieuwe, moderne creaties hebben we een op maat gemaakte box voor iedere cocktailliefhebber.
        Geniet van onze huisgemaakte cocktailmixen en verschillende cocktailboxen, bij jou thuis geleverd!
        </p>
    </body>
</html> 