<!DOCTYPE html>
<html>
    <body>
        <div class="contentbox">
            <h2>Over The Beartender</h2>
            <p>
            We brengen de beleving van een cocktailbar naar je thuis!
            Door onze combinatie van originele recepten en nieuwe, moderne creaties hebben we een op maat gemaakte box voor iedere cocktailliefhebber.
            Geniet van onze huisgemaakte cocktailmixen en verschillende cocktailboxen, bij jou thuis geleverd!
            </p>
            <div class="grid-container-3">
                <div class="grid-cell-3">
                    <h3>Just the two of us</h3>
                    <img class="image" src="assets/images/logo.png">
                    <p>Maak een keuze van 2 cocktails uit ons assortiment.</p>
                    <p>€ 20,00</p>
                </div>
                <div class="grid-cell-3">
                    <h3>The fab four</h3>
                    <img class="image" src="assets/images/logo.png">
                    <p>Maak een keuze van 4 cocktails uit ons assortiment.</p>
                    <p>€ 36,00</p>
                </div>
                <div class="grid-cell-3">
                    <h3>Let’s get sixy</h3>
                    <img class="image" src="assets/images/logo.png">
                    <p>Maak een keuze van 6 cocktails uit ons assortiment.</p>
                    <p>€ 53,00</p>
                </div>
            </div>
            <div class="grid-container-1">
                <div class="grid-cell-1">
                    <h3>Customize your own box</h3>
                    <img class="image" src="assets/images/logo.png">
                    <p>Vind je toch niet wat je zoekt? Stuur ons een berichtje! We kunnen een box op maat samenstellen voor jou.</p>
                </div>
            </div>
        </div>
    </body>
</html> 