<h2>Bestelingssamenvatting</h2>
<table class="table">
    <tr>
        <th class="nameCol">Je gekozen cocktailbox</th>
        <th class="amountCol">Aantal</th>
        <th class="priceCol">Prijs</th>
    </tr>
    <tr *ngFor="let box of boxAmountMap.entries();">
        <td class="nameCol">{{box[0]}}</td>
        <td class="amountCol">{{getBoxAmountByName(box[0])}}</td>
        <td class="priceCol">€ {{getBoxPriceByName(box[0])}},00</td>
    </tr>
    <br>
    <tr>
        <th class="nameCol">Je gekozen cocktails</th>
    </tr>
    <tr *ngFor="let cocktail of cocktailAmountMap.entries();">
        <td class="nameCol">{{cocktail[0]}}</td>
        <td class="amountCol">{{cocktail[1]}}</td>
    </tr>
    <br>
    <tr>
        <th class="nameCol">Je gekozen extras</th>
    </tr>
    <tr >
        <td class="nameCol">Cocktailglas</td>
        <td class="amountCol">{{glassAmount}}</td>
        <td class="priceCol">€ {{glassPrice}},00</td>
    </tr>
</table>

<br>
<label>Prijs van de boxen:</label>
<label> € {{totalBoxPrice}}</label>
<br>

<label>Prijs van de extras:</label>
<label> € {{extraPrice}}</label>
<br>

<label>Leverprijs:</label>
<label> € {{transportPrice}}</label>
<br>

<label>Totaal:</label>
<label> € {{totalPrice}}</label>
<br>
<br>

<label>Kies een aflevermanier: </label>
<button (click)="onDelivery()" [disabled]="isDelivery == true">Levering</button>
<button (click)="onTakeaway()" [disabled]="isDelivery == false">Afhalen</button>

<div [class.inactive]="isDelivery == false" [class.active]="isDelivery == true">
<h2>Leverinformatie</h2>

<label>Leveradres: </label>
<label>{{loggedInAdress}}</label>
<br>

<label>Leverdatum: </label>
<input type="date" id="deliverdate">
</div>

<div [class.inactive]="isDelivery == true" [class.active]="isDelivery == false">
<h2>Ophaalinformatie</h2>

<label>Ophaaladres: </label>
<label>Dam, 9170 Sint-Gillis-Waas</label>
<br>

<label>Ophaaldatum: </label>
<input type="date" id="takeawaydate">
</div>
<br>
<br>
<button (click)="onConfirm()">Bevestig en bestel</button>
<p id="errormessage" class="errormessage"></p>
<br>
<img class="image" src="assets/images/logo.png">