.column {
  float: left;
  width: 50%;
}

img{
  height: 30vh;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2, h5{
  text-align: center;
}

.contentbox{
  margin-left: 5vw;
  margin-right: 7vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 900px) {
  .column {
    float: left;
    width: 90%;
  }
}