body, html{
    width: 100vw;
    background-color: #101010;
    font-size: 20pt;
    text-align: center;
}

h2{
    padding-top: 20px;
}

button{
    background-color: #1279be;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    font-size: 20px;
}

button:hover{
    cursor:pointer;
}

.active{
    display: initial;
}
  
.inactive{
    display: none;
}