<!DOCTYPE html>
<html>
    <body>
        <h2>Contact</h2>
        <p>Aarzel niet om contact op te nemen met ons via een Whatsapp-bericht of mailtje.</p>
        <p><a class="link" href="mailto:berendvanguyse@gmail.com">berendvanguyse@gmail.com</a></p>
        <p><a class="link" href="tel:+32476612491">(+32)4 76 61 24 91</a></p>
        <p>9170 Sint-Gillis-Waas</p>
        <p>BE0736.798.538</p>
        <br>
        <p>Hebt u geen nood aan contact met the beartender zelf,</p>
        <p>maar hebt u een probleem met/opmerking over de website?</p>
        <p>Contacteer dan:</p>
        <p><a class="link" href="mailto:cedric@delaruelle.eu">cedric@delaruelle.eu</a></p>
        <img class="image" src="assets/images/logo.png">
    </body>
</html> 
