.ext{
  margin: -8px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
    margin:0px;
    padding:0px;
    height: 100vh;
    width: 100vw;
    /*background-color: #101010;*/
    color: #e7e7e7;
  }
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: black;
    height: 40px;
  }
  .titlebar {
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: black;
    text-align: center;
    margin-top: 40px;
    height: 50px;
  }

  .titlebar h2{
    font-size: 40px;
    margin-top: 3px;
  }

.main{
    margin-top: 90px;
}
