body, html{
    padding: 0px;
    margin: 0px;
    width: 100vw;
    background-color: #101010;
    font-size: 20pt;
    text-align: center;
}

h2{
    padding-top: 20px;
}

.questionbox{
    padding-left: 10vw;
    padding-right: 12vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.even{
    background: #303030;
}

.odd{
    background: #101010;
}

.bottommessage{
    padding-left: 10vw;
    padding-right: 12vw;
    padding-top: 5vh;
    padding-bottom: 15vh;
}
.error{
    color: red;
  }