<!DOCTYPE html>
<html>
    <body>
        <h2>Faq</h2>
        <div *ngFor="let question of faqQuestions; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
            <div class="questionbox">
                <h4>{{question.question}}</h4>
                <p>{{question.answer}}</p>
            </div>
        </div>
        <p class = error *ngIf="errormessage">{{errormessage}}</p>
        <h3 class="bottommessage">Heb je toch nog vragen aarzel dan niet om ons te contacteren!</h3>
    </body>
</html> 
