<!DOCTYPE html>
<html>
    <body>
        <h2>Cocktails</h2>
        <div class="grid-container">
            <div class="grid-cell" *ngFor="let cocktail of cocktails;" data-cy="cocktailbox">
                <app-cocktailwrapper [cocktail]="cocktail"></app-cocktailwrapper>
            </div>
        </div>
        <h2>Mocktails</h2>
        <div class="grid-container">
            <div class="grid-cell" *ngFor="let mocktail of mocktails;" data-cy="mocktailbox">
                <app-cocktailwrapper [cocktail]="mocktail"></app-cocktailwrapper>
            </div>
        </div>
        <p class = error *ngIf="errormessage" data-cy=error>{{errormessage}}</p>
    </body>
</html>

