<h2>Bestel</h2>
<h3>Selecteer uw boxen...</h3>
<div class="grid-container">
    <div class="grid-cell" *ngFor="let wrapper of cocktailboxesData;" data-cy=box>
        <app-orderitem [wrapper]="wrapper"></app-orderitem>
    </div>
</div>
<p class = error *ngIf="errormessage" data-cy=error>{{errormessage}}</p>
<h3>...en de inhoud ervan!</h3>
<div class="grid-container">
    <div class="grid-cell" *ngFor="let wrapper of cocktailsData;" data-cy=cocktailbox>
        <app-orderitem [wrapper]="wrapper"></app-orderitem>
    </div>
</div>
<h3>Extras</h3>
<div class="grid-container">
    <div class="grid-cell">
        <app-orderitem [wrapper]="glasWrapper"></app-orderitem>
    </div>
</div>
<br>
<div class="orderbar">
    <table>
        <tr>
            <th>
                <p>U koos </p>
                <p data-cy=amountlabel>{{OrderedAmount}} / {{ToOrderAmount}}</p>
                <p>cocktails</p>
            </th>
            <th>
                <button (click)="onOrder()" [disabled]="ToOrderAmount !== OrderedAmount || OrderedAmount == 0" data-cy=confirmbutton>Bestel!</button>
            </th>
        </tr>
    </table>
</div>