<!DOCTYPE html>
<html>
    <body>
        <!-- <img class="bannerimage" src="assets/images/box_banner.png"> -->
        <h2 data-cy="title">Onze Boxen</h2>
        <div class="contentbox">
            <div data-cy="boxcount" *ngFor="let box of cocktailboxes; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even }">
                <app-boxwrapper [cocktailbox]="box"></app-boxwrapper>
            </div>
        </div>
        <p class = error *ngIf="errormessage" data-cy="error">{{errormessage}}</p>
    </body>
</html>
