body, html{
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  font-size: 20pt;
  text-align: center;
}

form{
  margin: 0 auto;
  width: 720px;
}

td{
  width: 50%;

}

button{
  background-color: #1279be;
  border: none;
  border-radius: 5px;
  padding: 15px 32px;
  font-size: 20px;
}

button:hover{
  cursor:pointer;
}

.valid{
  background-color: rgba(0,255,0,0.9);
}

.invalid{
  background-color: rgba(255,0,0,0.9);
}

