<!DOCTYPE html>
<html>
    <body>
        <h2>Admin Dashboard</h2>
        <br>
        <div class="grid-container">
            <div class="grid-cell" [routerLink]="['/admin/orders']">
                <p>Bestellingen</p>
                <img class="image" src="assets/images/icons/order.png">
            </div>
            <div class="grid-cell" [routerLink]="['/admin/locations']">
                <p>Leverlocaties</p>
                <img class="image" src="assets/images/icons/location.png">
            </div>
        </div>
    </body>
</html>

